$corFundo: #040714;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corFundoButton: #6421ff;
$corButtonSecundary: #0063e5;
$corButtonDark: #000;

@mixin text($fontsize: 16px){
    font-size: $fontsize;
    line-height: $fontsize + 10px;
    color: $corTextoPrincipal
}

@mixin title($fontsize: 40px){
    @include text($fontsize);
    color: $corTextoSecundario;
}

.text--big{
    @include text(18px);
}

.text{
    @include text;
}

.text--small{
    @include text(12px);
}

.title--big{
    @include title(44px);
}

.title{
    @include title;
}

.title--small{
    @include title(28px);
}

.link-text{
    @include text(18px);
    color: $corTextoSecundario;
    text-decoration: underline;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: $corTextoSecundario;
    background-color: $corFundoButton;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    cursor: pointer;
    border: 1px solid $corFundoButton;

    &:hover{
        background-color: lighten($corFundoButton, 3%);
    }

    &--secundary{
        background-color: $corButtonSecundary;
        border-color: $corButtonSecundary;

        &:hover{
            background-color: lighten($corButtonSecundary, 3%);
        }
    }

    &--dark{
        background-color: rgba($corButtonDark, 0.8);
        border-color: $corTextoSecundario;

        &:hover{
            background-color: $corTextoSecundario;
            color: $corFundo;
        }
    }
}

.image-text-section{
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    img{
        max-width: 100%;
    }

    &__text__container{
        padding: 0 2vw;

        h2{
            margin-bottom: 24px;
        }
    }

    &--image-full-width{
        display: block;
        position: relative;

        img{
            width: 100%;
        }

        &__text__container{
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: calc(50% - 5.6vw);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}